* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #777;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

.logo {
  height: 35px; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  margin-bottom: 60px;
  text-transform: uppercase; }

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translatey(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link,
btn:visited {
  border-radius: 100px;
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(1px); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  border-radius: 100px;
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.3s;
  top: 0;
  width: 100%;
  z-index: -1; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards; }
