.header {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
    background-position: top;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); 
    }

    .logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
        .logo {
            height: 35px;
        }
    }
    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}